
<h1 class="fw-bolder">EMPRESAS COLABORADORAS</h1>
<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>Nombre</th>
            <th>Servicio</th>
            <th>Enlace</th>
            <th>Twitter</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empresa of tiposEmpresas">
            <td>{{ empresa.nombre }}</td>
            <td>{{ empresa.servicio }}</td>
            <td>{{ empresa.enlace }}</td>
            <td>{{ empresa.twitter }}</td>
        </tr>
    </tbody>
</table>
