<div class="detalles">
    <h1>{{ data.descripcionCharla }}</h1>
    <h2>{{ data.modalidad }} - {{ data.fechaCharla | date: 'dd/MM/yyyy' }}</h2>
    <h3>Estado: {{ data.estadoCharla }}</h3>

    <!-- Mostrar TechRider solo si tiene valor -->
    <p *ngIf="data.techrider">Techrider: {{ data.techrider }}</p>

    <p>Datos:</p>
    <ul>
        <li>
            Provincia: {{ data.provincia }}
        </li>
        <li>
            Curso: {{ data.nombreCurso }}
        </li>
        <li>
            Correo: {{ data.email }}
        </li>
        <li>
            Teléfono: {{ data.telefono }}
        </li>
    </ul>

    <p>{{ data.observacionesCharla }}</p>
</div>