<!-- En tu archivo HTML del componente -->
<div class="container mt-3">
    <h1>Charlas asignadas a {{this.user.nombre}}</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 35%;">Descripcion</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of charlasAsociadas; let i = index">
          <td>{{item.descripcionCharla}}</td>
          <td>{{ item. estadoCharla}}</td>
          <td>{{ item.fechaCharla | date: 'dd-MM-yyyy' }}</td>
          <td class="info__icons">
            <i id="info__details" class="fa-solid fa-circle-info fa-2xl" (click)="detallesCharla(i)"></i>
            <i id="info__cancel" class="fa-solid fa-circle-xmark fa-2xl" (click)="cancelarCharla(i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container mt-4">
    <h1>Charlas disponibles compatibles contigo</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th style="width: 35%;">Descripcion</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of charlasDisponibles; let i = index">
          <td>{{item.descripcionCharla}}</td>
          <td>{{ item. estadoCharla}}</td>
          <td>{{ item.fechaCharla | date: 'dd-MM-yyyy' }}</td>
          <td class="info__icons">
            <i id="info__details" class="fa-solid fa-circle-info fa-2xl" (click)="detallesCharla(i)"></i>
            <i id="info__accept" class="fa-solid fa-circle-check fa-2xl" (click)="aceptarCharla(i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  