<!-- En tu archivo HTML del componente -->
<div class="container mt-4">
    <h1>Charlas Asignadas a : {{this.user.nombre}}</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of charlasAsociadas; let i = index">
          <td>{{item.descripcionCharla}}</td>
          <td>{{ item. idEstadoCharla}}</td>
          <td>{{ item.fechaCharla }}</td>
          <td>
            <button class="btn btn-danger" (click)="editarItem(i)">Cancelar</button>
            <button class="btn btn-warning" (click)="eliminarItem(i)">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container mt-4">
    <h1>Charlas Disponibles:</h1>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Estado</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of charlasDisponibles; let i = index">
          <td>{{item.descripcion}}</td>
          <td>{{ item. idEstadoCharla}}</td>
          <td>{{ item.fechaCharla }}</td>
          <td>
            <button class="btn btn-primary" (click)="editarItem(i)">Aceptar</button>
            <button class="btn btn-danger" (click)="eliminarItem(i)">Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  