/* En tu archivo CSS del componente */
.table-bordered {
    border: 2px solid black; /* Ajusta el ancho y el color del borde según tus preferencias */
  }
  
  .table-hover tbody tr:hover {
    background-color: #f5f5f5; /* Cambia el color de fondo al pasar el ratón por encima */
  }
  /* En tu archivo CSS del componente */
.container {
    margin-top: 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .table {
    width: 100%;
  }
  
  .table-bordered {
    border: 2px solid #dee2e6;
  }
  
  .table-hover tbody tr:hover {
    background-color: #f8f9fa;
  }
  
  .table th, .table td {
    text-align: center;
    /* vertical-align: middle; */
  }
  
  .table th {
    background-color: black;
    color: white;
  }
  
  .btn {
    width: 48%; /* Ajusta el ancho de los botones según tus preferencias */
    margin-bottom: 5px;
    margin-right: 2%; /* Ajusta el margen derecho para separar los botones */
}
 .btn-warning{
  background-color: rgb(209, 198, 39);
  border-color: rgb(209, 198, 39);
  color: white;
 }
  
  /* Añade espacio adicional entre las tablas */
  .container + .container {
    margin-top: 40px;
  }
  
  /* --------------------------- */
  
  #icon_eliminar :hover, #info__details :hover,  #info__accept :hover{
    color: rgb(0, 0, 0);
  }

  .info__icons{
    margin-left: auto;

  }
  
  #info__details {
    cursor: pointer;
    padding-right: 5%;
    margin-left: auto;
    color: #451ef0;
  }
  
  #info__accept {
    cursor: pointer;
    padding-right: 5%;
    margin-left: auto;
    color:  #50f23a
  }
  
  #info__cancel {
    cursor: pointer;
    padding-right: 5%;
    margin-left: auto;
    color:  #d12929
  }