<div class="tabla-div">
    <h1>Tus charlas</h1>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Descripcion</th>
          <th>Estado</th>
          <th>Fecha</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let charla of charlas; let i = index">
          <td>{{charla.descripcionCharla}}</td>
          <td>{{charla.estadoCharla}}</td>
          <td>{{ charla.fechaCharla | date: 'dd-MM-yyyy' }}</td>
          <td class="info__icons">
            <i id="info_detalles" class="fa-solid fa-pen fa-2xl" [routerLink]="['/editar-charla', charla.idCharla]"></i>
            <i id="icon_eliminar" class="fa-solid fa-trash fa-2xl" (click)="eliminarCharla(i)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>