<div>
    <h1>Peticiones Alta Empresas/Centros</h1>
    <div *ngFor="let peticion of peticionesCentroEmpresa" class="info">
        <div class="info__title">{{ getNombreEmpresaCentro(peticion.idCentroEmpresa) }}</div>
        <div class="info__title">{{ getTipoEmpresaCentro(getEmpresaCentroInfo(peticion.idCentroEmpresa)) }}</div>
        <div class="info__icons">
          <div class="info__details"><i class="fa-solid fa-circle-info fa-2xl" (click)="mostrarDetallesEmpresaCentro(peticion.idCentroEmpresa)"></i></div>
          <div class="info__accept"><i class="fa-solid fa-circle-check fa-2xl" (click)="aceptarPeticion(peticion.idPeticionCentroEmpresa, peticion.idCentroEmpresa)"></i></div>
          <div class="info__cancel"><i class="fa-solid fa-circle-xmark fa-2xl" (click)="denegarPeticion(peticion.idPeticionCentroEmpresa, peticion.idCentroEmpresa)"></i></div>
        </div>
    </div>
    <hr>

    <h1>Todas las Empresas Activas</h1>
    <div *ngFor="let emp of empresasCentros">
         <div class="border-bottom border-3" *ngIf="emp.idTipoEmpresa === 1 && emp.estadoEmpresa === 1" id="activos" >
            <div>
                <p>{{ emp.nombre }}</p>
            </div>
            <div class="iconsActivos">
                <div class="info_detalles"><i class="fa-solid fa-circle-info fa-2xl" (click)="mostrarDetallesEmpresaCentro(emp.idEmpresaCentro)"></i></div>
                <div class="icon_eliminar"><i class="fa-solid fa-trash fa-2xl" (click)="borrarEmpresaCentro(emp.idEmpresaCentro, emp.nombre)"></i></div>
            </div>
        </div>   
    </div>

    <hr>

    <h1>Todos los Centros Activos</h1>
    <div *ngFor="let emp of empresasCentros">
        <div class="border-bottom border-3" *ngIf="emp.idTipoEmpresa === 2 && emp.estadoEmpresa === 1" id="activos" >
                <div>
                    <p>{{ emp.nombre }}</p>
                </div>
                <div class="iconsActivos">
                    <div class="info_detalles"><i class="fa-solid fa-circle-info fa-2xl" (click)="mostrarDetallesEmpresaCentro(emp.idEmpresaCentro)"></i></div>
                    <div class="icon_eliminar"><i class="fa-solid fa-trash fa-2xl" (click)="borrarEmpresaCentro(emp.idEmpresaCentro, emp.nombre)"></i></div>
                </div>
        </div>   
    </div>
    
</div>