<div>
    <h1>Peticiones Alta Usuarios</h1>
    <div *ngFor="let peticion of peticionesAltaUsers" class="info">
        <div class="info__title">{{ getNombreUsuario(peticion.idUser) }}</div>
        <div class="info__title">{{ getTipoUsuario(getUsuarioInfo(peticion.idUser)) }}</div>
        <div class="info__icons">
          <div class="info__details"><i class="fa-solid fa-circle-info fa-2xl" (click)="mostrarDetallesUsuario(peticion.idUser)"></i></div>
          <div class="info__accept"><i class="fa-solid fa-circle-check fa-2xl" (click)="aceptarPeticion(peticion.idPeticionAltaUsers, peticion.idUser)"></i></div>
          <div class="info__cancel"><i class="fa-solid fa-circle-xmark fa-2xl" (click)="denegarPeticion(peticion.idPeticionAltaUsers, peticion.idUser)"></i></div>
        </div>
    </div>
    <hr>
    <h1>Usuarios Activos</h1>
    <div class="border-bottom border-3" *ngFor="let usu of usuarios" id="activos" >
        <div>
            <p>{{ usu.nombre }} {{ usu.apellidos }}</p>
        </div>
        <div class="iconsActivos">
            <div class="info_detalles"><i class="fa-solid fa-circle-info fa-2xl" (click)="mostrarDetallesUsuario(usu.idUsuario)"></i></div>
            <div class="icon_eliminar"><i class="fa-solid fa-trash fa-2xl" (click)="borrarUsuario(usu.idUsuario, usu.nombre)"></i></div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>