<div class="container mt-4">
    <h1>Peticiones Alta Usuarios</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Tipo Usuario</th>
                <th>Detalles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let peticion of peticionesAltaUsers">
                <td>{{ getNombreUsuario(peticion.idUser) }}</td>
                <td>{{ getTipoUsuario(getUsuarioInfo(peticion.idUser)) }}</td>
                <td><button class="btn btn-secondary" (click)="mostrarDetallesUsuario(peticion.idUser)">Detalles</button></td>
                <td>
                    <button class="btn btn-success" (click)="aceptarPeticion(peticion.idPeticionAltaUsers, peticion.idUser)">Aceptar</button>
                    <button class="btn btn-danger" (click)="denegarPeticion(peticion.idPeticionAltaUsers, peticion.idUser)">Denegar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>Usuarios Activos</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Detalles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let usu of usuarios">
                <tr *ngIf="usu.estado === 1">
                    <td>{{ usu.nombre }} {{ usu.apellidos }}</td>
                    <td><button class="btn btn-secondary" (click)="mostrarDetallesUsuario(usu.idUsuario)">Detalles</button></td>
                    <!-- <td>
                        <button class="btn btn-danger" (click)="borrarEmpresaCentro(emp.idEmpresaCentro, emp.nombre)">Eliminar</button>
                    </td> -->
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
