.navbar {
    background-color: #000;
    padding: 8px;
    color: white;
    flex-wrap: nowrap !important;
  }
  .navbar-logo img {
    width: 110px;
    height: auto;
    margin-right: 10px;
    padding: 8€;
  }
  .container{
    display: flex;
    justify-content: end;
  }
  
  .no-caret::after {
    display: none !important;
  }