<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/"><img src="../../assets/images/techriderslogo.png" alt="Logo" /></a>
  </div>
  <div class="navbar-links">
    <a routerLink="/contactanos">Contactanos</a>
    <a routerLink="/quienes-somos">Quienes Somos</a>
    <a routerLink="/charlas-publico">CharlasPublico</a>
    <a routerLink="/tr-publico">TechRidersPublico</a>
    <a routerLink="/empresas-publico">EmpresasPublico</a>
    <a routerLink="/centros-publico">CentrosPublico</a>
    <!-- Mas cosas de relleno (?) -->
    <a routerLink="/user-tr"  *ngIf="identity && identity.nombre">{{identity.nombre}} {{identity.apellidos}} </a>
    <a (click)="logout()" routerLink="/" *ngIf=token>Cerrar sesión</a>

    <a routerLink="/login" *ngIf=!token>Identificate</a>
    
  </div>
</nav>
