.navbar {
    background-color: #000;
    padding: 20px;
    color: white;
    
  }
  
  .navbar-logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
  }
  .container{
    display: flex;
    justify-content: end;
  }
  
  .no-caret::after {
    display: none !important;
  }
  