.navbar {
    background-color: #000;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .navbar-logo img {
    width: 80px;
    height: auto;
    margin-right: 10px;
  }
  
  .navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.2em;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  