<nav class="navbar">
  <div class="navbar-logo">
    <a routerLink="/"><img src="../../assets/images/techriderslogo.png" alt="Logo" /></a>
  </div>
  <div class="container">
    <div class="nav-item dropdown">
      <a class="nav-link no-caret" style="padding: 0; display: flex; align-items: center;" href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../assets/images/user.png" alt="" width="60" height="60">     
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="min-width: 200px; margin-left: auto;">
        <li *ngIf="identity && identity.nombre"><a class="dropdown-item" routerLink="/user-tr">Perfil</a></li>
        <li *ngIf="identity && identity.nombre"><a class="dropdown-item" routerLink="/panel-tr">Charlas</a></li>
        <li *ngIf="identity && identity.nombre"><a class="dropdown-item" routerLink="/panel-tr">Calendario</a></li>
        <li *ngIf="token"><hr class="dropdown-divider"></li>
        <li *ngIf="token"><a class="dropdown-item" (click)="logout()" routerLink="/">Cerrar sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
