<div class="container my-4">
  <div class="container my-4 d-flex justify-content-center align-items-center">
    <h1 class="text-center mb-0 me-2 ms-2">Información Perfil</h1>
    <button  class="btn btn-dark ms-2" *ngIf="editMode" (click)="guardarCambios()">Guardar</button>
    <a (click)="toggleEditMode()" class="btn btn-dark ms-2" role="button">
      {{ editMode ? 'Cancelar' : 'Editar' }}
    </a>

  </div>


  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Nombre {{user.idUsuario}}</label>
      <input type="text" class="form-control" [attr.readonly]="!editMode ? true : null" [(ngModel)]="user.nombre" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Apellido</label>
      <input type="text" class="form-control" [attr.readonly]="!editMode ? true : null" [(ngModel)]="user.apellidos" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Email</label>
      <input type="text" class="form-control" [attr.readonly]="!editMode ? true : null" [(ngModel)]="user.email" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Teléfono</label>
      <input type="text" class="form-control" [attr.readonly]="!editMode ? true : null" [(ngModel)]="user.telefono" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">LinkedIn</label>
      <input type="text" class="form-control" [attr.readonly]="!editMode ? true : null" [(ngModel)]="user.linkedIn" />
    </div>
    <div class="col-md-6 mb-3">
      <label class="form-label">Provincia</label>
      <input *ngIf="!editMode" type="text" class="form-control" value="{{ provincia }}" [attr.readonly]="!editMode ? true : null" />
      <div *ngIf="editMode">
        <select class="form-control"  *ngIf="editMode" (change)="onProvinciaChange($event)" [(ngModel)]="provinciaNueva">
          <option *ngFor="let pro of provincias" [value]="pro.idProvincia">
            {{ pro.nombreProvincia }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <hr>

  <div class="col-md-12 mb-3" *ngIf="techrider || responsable">
    <div class="text-center">
      <h2 class="mb-2">Cambiar Empresa: </h2>
      <div *ngIf="!editMode">
        <input type="text" class="form-control" [value]="getNombreEmpresa(user.idEmpresaCentro)" readonly />
      </div>
      <div *ngIf="editMode">
        <select class="form-control" *ngIf="editMode" (change)="onEmpresaCentroChange($event)" [(ngModel)]="idEmpresaCentroSeleccionado">
          <option *ngFor="let empresa of empresas" [value]="empresa.idEmpresaCentro">
            {{ empresa.nombre }}
          </option>
        </select>
        
      </div>
    </div>
  </div>
  <div class="col-md-12 mb-3" *ngIf="profesor">
    <div class="text-center">
      <h2 class="mb-2">Cambiar Centro: </h2>
      <div *ngIf="!editMode">
        <input type="text" class="form-control" [value]="getNombreCentro(user.idEmpresaCentro)" readonly />
      </div>
      <div *ngIf="editMode">
        <select class="form-control"  *ngIf="editMode" (change)="onEmpresaCentroChange($event)" [(ngModel)]="idEmpresaCentroSeleccionado">
          <option *ngFor="let centro of centros" [value]="centro.idEmpresaCentro">
            {{ centro.nombre }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
