<!-- <div class="tech-riders-container" [style.backgroundImage]="'url(' + imageUrlQuienesSomos + ')'">
  <div class="text-banner">
    <h1>SOMOS TECH RIDERS</h1>
    <br>
    <h4>
      Pilotas tu propia carrera profesional tecnológica. Te formas y colaboras con otras personas. Trabajas en equipo.
      La tecnología no para; está siempre en marcha. Siempre te estás actualizando, actualizando. Eres un/a Tech Rider.
    </h4>
    <br>
    <p>Orientación y formación en tecnología <br>
      Charlas técnicas, motivacionales o softskills para estudiantes de tecnología<br>
      Tutoriales sobre tecnología</p>
  </div>
</div> -->
<div style="width: 80%; margin: 0 auto">
  <app-calendario></app-calendario>
</div>

<!-- <div class="main-container">
  <div class="col-container">
    <div class="row">
      <div class="col-sm-6">
        <div class=" section section1" [style.backgroundImage]="'url(' + imageUrlUnete + ')'">

          <div class="contenido">

            <h2>ÚNETE AL EQUIPO</h2>
            <p>Si eres un/a profesional de la tecnología y quieres impartir una charla técnica o motivacional en un
              centro educativo.</p>
            <a href="#" class="btn btn-custom">ÚNETE</a>
          </div>

        </div>
      </div>
      <div class="col-sm-6">
        <div class=" section section2" [style.backgroundImage]="'url(' + imageUrlSolicita + ')'">

          <div class="contenido">
            <h2>SOLICITA UNA CHARLA</h2>
            <p>Si eres un centro de formación y quieres solicitar una charla técnica, motivacional o soft skills para
              tus estudiantes de la rama de tecnología.</p>
            <a href="#" class="btn btn-custom">SOLICITA</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->