body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* Centra verticalmente */
  align-items: center;
  margin: 0 auto;
}
.col-container {
  width: 70%;
  
  overflow: hidden;
}

.section {
  margin: 20px 0;
  color: #333;
  text-align: center;
  padding: 150px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.section p {
  margin-bottom: 20px;
}

.btn-custom {
  color: #000;
  background-color: #fff;
  
}

#footer-wrap {
  background-color: #000;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%;
  max-height: fit-content;
}
.footer-logo img {
  width: 60px;
  height: auto;
  margin-bottom: 10px;
}

.footer-first {
  font-size: 1.2em;
}

.site-info p {
  margin: 0;
}
