button {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  font-weight: bolder;
}

.legend {
  margin-bottom: 20px;
  text-align: left;
}

.legend-item {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 4px;
  border-radius: 100%;
  vertical-align: middle;
}

