<!-- calendario.component.html -->
<div style="width: 80%; margin: 0 auto; padding-top: 5%; padding-bottom: 5%; text-align: center;">
  <h1>
    <button (click)="prevMonth()" type="button" class="btn btn-outline-dark">←</button>
    {{ viewDate | date: 'MMMM y' | titlecase }}
    <button (click)="nextMonth()" type="button" class="btn btn-outline-dark">→</button>
  </h1>

  <hr>
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" (dayClicked)="dayClicked($event.day)"
    (eventClicked)="eventClicked($event)"></mwl-calendar-month-view>
  <hr>
  <div class="legend">
    <div class="legend-item" style="background-color: gray;"></div> Cancelada <br>
    <div class="legend-item" style="background-color: orange;"></div> Pendiente <br>
    <div class="legend-item" style="background-color: blue;"></div> Proceso <br>
    <div class="legend-item" style="background-color: red;"></div> Cerrada <br>
    <div class="legend-item" style="background-color: green;"></div> Completada <br>
    <div class="legend-item" style="background-color: purple;"></div> Acreditada <br>
  </div>
</div>