<div class="container d-flex justify-content-center align-items-center"
    style="height: 90vh; margin-top: 5vh; margin-bottom: 5vh;">
    <div class="col-md-8 p-4 rounded shadow-lg">
        <h1 class="text-center mb-4">Registra tu Empresa/Centro!</h1>
        <form #insertForm="ngForm">
            <div class="mb-4">
                <label>Que tipo de empresa eres?</label>
                <select class="form-control" #cajatipoempresa name="cajatipoempresa" required>
                    <option value="1">Empresa</option>
                    <option value="2">Centro Educativo</option>
                </select>
            </div>
            <div class="mb-4">
                <label>Nombre de la Empresa</label>
                <input type="text" class="form-control" #cajanombre name="cajanombre" required>
            </div>
            <div class="mb-4">
                <label>Razón Social</label>
                <input type="text" class="form-control" #cajarazonsocial name="cajarazonsocial" required>
            </div>
            <div class="mb-4">
                <label>Dirección</label>
                <input type="text" class="form-control" #cajadireccion name="cajadireccion" required>
            </div>
            <div class="mb-4">
                <label>Teléfono</label>
                <input type="text" class="form-control" #cajatelefono name="cajatelefono" required>
            </div>
            <div class="mb-4">
                <label>Persona de Contacto</label>
                <input type="text" class="form-control" #cajapersonacontacto name="cajapersonacontacto" required>
            </div>
            <div class="mb-4">
                <label>CIF</label>
                <input type="text" class="form-control" #cajacif name="cajacif" required>
            </div>
            <div class="mb-4">
                <label>Provincia:</label>
                <select class="form-control" #cajaprovincia name="cajaprovincia">
                    <option value="{{provincia.idProvincia}}" *ngFor="let provincia of provincias">
                        {{provincia.nombreProvincia}}
                    </option>
                </select>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-dark" (click)="registrarEmpresa()" style="width: 30%;">Registrar
                    Empresa</button>
            </div>
        </form>
    </div>
</div>