<div class="tech-riders-container" >
    <div class="text-banner">
    <h1>CENTROS ASOCIADOS</h1>
    <br>
    <p class="p-banner">
        Tienes la oportunidad de ser un faro de inspiración para los estudiantes de tecnología. Ofrece charlas técnicas de vanguardia, comparte experiencias motivacionales y fomenta el desarrollo de habilidades softskills esenciales. ¡Únete a nosotros en la misión de impulsar la formación tecnológica y cultivar el talento del futuro!
    </p>
  </div>
  </div>

<h1 class="fw-bolder">CENTROS ASOCIADOS</h1>
<div class="tabla-empresas">
    <table class="table table-hover">
        <thead>
            <tr class="table-dark">
                <th>Nombre</th>
                <th>Direccion</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let centro of centros">
                <td>{{ centro.nombre }}</td>
                <td>{{ centro.direccion }}</td>
                <td>{{ centro.telefono }}</td>
            </tr>
        </tbody>
    </table>
</div>
