<div class="banner-container">
  <div class="text-banner">
    <h1>CENTROS ASOCIADOS</h1>
    <br />
    <p class="p-banner">
      Tienes la oportunidad de ser un faro de inspiración para los estudiantes
      de tecnología. Ofrece charlas técnicas de vanguardia, comparte
      experiencias motivacionales y fomenta el desarrollo de habilidades
      softskills esenciales. ¡Únete a nosotros en la misión de impulsar la
      formación tecnológica y cultivar el talento del futuro!
    </p>
  </div>
</div>

<br />
<div class="containe-tabla">
  <div class="card" *ngFor="let centro of centros">
    <p class="card-title">{{ centro.nombre }}</p>
    <hr>
    <p class="card-des">Dirección: {{ centro.direccion }}</p>
    <p class="card-des">Teléfono: {{ centro.telefono }}</p>
  </div>
</div>

<div class="info">
  <div class="info__title">lorem ipsum dolor sit amet</div>
  <div class="info__close"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
  <div class="info__close"><svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20"><path fill="#393a37" d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"></path></svg></div>
</div>