<div class="banner-container">
  <div class="text-banner">
    <h1>CENTROS ASOCIADOS</h1>
    <br />
    <p class="p-banner">
      Tienes la oportunidad de ser un faro de inspiración para los estudiantes
      de tecnología. Ofrece charlas técnicas de vanguardia, comparte
      experiencias motivacionales y fomenta el desarrollo de habilidades
      softskills esenciales. ¡Únete a nosotros en la misión de impulsar la
      formación tecnológica y cultivar el talento del futuro!
    </p>
  </div>
</div>

<br>
<div class="info">
  <div class="info__title">Solicitud ejemplo</div>
  <div class="info__icons">
    <div class="info__details"><i class="fa-solid fa-circle-info fa-2xl"></i></div>
    <div class="info__accept"><i class="fa-solid fa-check fa-2xl"></i></div>
    <div class="info__cancel"><i class="fa-solid fa-xmark fa-2xl"></i></div>
  </div>
</div>
<br />

<div class="containe-tabla">
  <div class="card" *ngFor="let centro of centros">
    <p class="card-title">{{ centro.nombre }}</p>
    <hr>
    <p class="card-des">Dirección: {{ centro.direccion }}</p>
    <p class="card-des">Teléfono: {{ centro.telefono }}</p>
  </div>
</div>
