<div class="container d-flex justify-content-center align-items-center"
    style="height: 90vh; margin-top: 5vh; margin-bottom: 5vh;">
    <div class="col-md-8 p-4 rounded shadow-lg">
        <h1 class="text-center mb-4">Solicitar una nueva charla</h1>
        <form #insertForm="ngForm">
            <div class="mb-4">
                <label>Descripción</label>
                <input type="text" class="form-control" #cajadescripcion name="cajadescripcion" [value]="charla.descripcion">
            </div>

            <div class="mb-4">
                <label>Fecha</label>
                <input type="datetime-local" class="form-control" #cajafecha name="cajafecha" [value]="charla.fechaCharla">
            </div>

            <div class="mb-4">
                <label>Turno</label>
                <select class="form-control" #cajaturno name="cajaturno" [value]="charla.turno">
                    <option>Mañana</option>
                    <option>Tarde</option>
                </select>
            </div>

            <div class="mb-4">
                <label>Modalidad</label>
                <select class="form-control" #cajamodalidad name="cajamodalidad" [value]="charla.modalidad">
                    <option>Presencial</option>
                    <option>Online</option>
                </select>
            </div>

            <div class="mb-4">
                <label>Curso</label>
                <select class="form-control" #cajacurso name="cajacurso">
                    <option value="{{curso.idCurso}}" *ngFor="let curso of cursos">
                        {{curso.nombreCurso}}
                    </option>
                </select>
            </div>

            <div class="mb-4">
                <label>Provincia</label>
                <select class="form-control" #cajaprovincia name="cajaprovincia">
                    <option value="{{provincia.idProvincia}}" *ngFor="let provincia of provincias">
                        {{provincia.nombreProvincia}}
                    </option>
                </select>
            </div>

            <div class="text-center mt-4">
                <button class="btn btn-dark" (click)="enviarCharla()" style="width: 100%;">
                    Enviar
                </button>
            </div>
        </form>
    </div>
</div>